@media (max-width: 8000px) {
    .footer {
        padding-top: 30px;
        font-size: 25px;
    }

    .footerContent {
        width: 1380px;
    }

    .footerSvg {
        width: 40px;
        height: 40px;
    }

    .socialMedia {
        gap: 0 30px;
    }
}

@media (max-width: 1380px) {
    .footer {
        font-size: 20px;
    }

    .footerContent {
        width: 980px;
    }

    .footerSvg {
        width: 40px;
        height: 40px;
    }
}

@media (max-width: 980px) {
    .footer {
        font-size: 15px;
    }

    .footerContent {
        width: 850px;
    }

    .footerSvg {
        width: 30px;
        height: 30px;
    }
}

@media (max-width: 860px) {
    .footer {
        font-size: 15px;
    }

    .footerContent {
        width: 650px;
    }
}

@media (max-width: 660px) {
    .footer {
        font-size: 12px;
    }

    .footerContent {
        width: 350px;
    }

    .footerSvg {
        width: 20px;
        height: 20px;
    }

    .socialMedia {
        gap: 0 15px;
    }
}

@media (max-width: 350px) {
    .footer {
        font-size: 8px;
    }

    .footerContent {
        width: 250px;
    }

    .socialMedia {
        gap: 0 10px;
    }
}

.footer {
    width: 100%;
    background: linear-gradient(to top, rgb(255, 225, 172), rgb(255, 225, 172), rgb(255, 225, 172), #fff6e7);
    align-items: flex-end;
    display: flex;
    justify-content: space-evenly;
}

.footerContent {
    display: flex;
    justify-content: space-between;
}

.footerLeft,
.footerRight {
    justify-content: space-between;
    display: flex;
    flex-direction: column;
}

.footerLink {
    text-decoration: none;
    color: black;
    cursor: pointer;
}

.footerRightText {
    text-align: right;
}

.socialMedia {
    display: flex;
    justify-content: flex-start;
}