* {
    -webkit-tap-highlight-color: transparent;
    box-sizing: border-box;
    font-family: JetBrains Mono Light;
    font-stretch: normal;
    padding: 0;
    margin: 0;
}

body::-webkit-scrollbar {
    width: 15px;
}

body::-webkit-scrollbar-track {
    border-radius: 10px;
    -webkit-box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.2) inset;
    background-color: #fff3dd;
}

body::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #f2bf93;
    background-image: -webkit-linear-gradient(45deg,
            rgba(255, 255, 255, 0.25) 25%,
            transparent 25%,
            transparent 50%,
            rgba(255, 255, 255, 0.25) 50%,
            rgba(255, 255, 255, 0.25) 75%,
            transparent 75%,
            transparent);
}

html,
body {
    scroll-behavior: smooth;
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    background-color: rgb(255, 246, 231);
}

.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.main {
    flex: 1 1 auto;
}

/* Slider */
.swiper {
    margin: 0 !important;
    user-select: none;
    width: 500px !important;
    height: 450px !important;
}

.swiper-slide {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
}

.swiper-button-prev::after,
.swiper-button-next::after {
    color: #ffe1ac;
}

.swiper img {
    margin: 2% 0 0 2%;
}

.swiper-pagination-bullet {
    width: 15px !important;
    height: 15px !important;
}

.swiper-pagination-bullet-active {
    background: #ffe9ce !important;
    border: 1px solid rgb(0, 0, 0, .5);
}