@media (max-width: 8000px) {
    .header {
        padding-bottom: 30px;
    }

    .headerContent {
        width: 1380px;
    }

    .headerButtons {
        gap: 0 30px;
    }

    .headerButton {
        font-size: 20px;
        padding: 10px 20px;
    }

    .tagline {
        font-size: 35px;
    }
}

@media (max-width: 1380px) {
    .headerContent {
        width: 980px;
    }

    .headerContent img {
        height: 100px;
        width: 100px;
    }

    .headerButton {
        font-size: 15px;
    }

    .tagline {
        font-size: 25px;
    }
}

@media (max-width: 980px) {
    .headerContent {
        width: 850px;
    }

    .headerContent img {
        height: 80px;
        width: 80px;
    }

    .headerButton {
        font-size: 15px;
    }

    .tagline {
        font-size: 20px;
    }
}

@media (max-width: 860px) {
    .headerContent {
        width: 650px;
    }

    .headerContent img {
        height: 70px;
        width: 70px;
    }

    .headerButton {
        padding: 10px 15px;
    }

    .tagline {
        font-size: 17px;
    }
}

@media (max-width: 660px) {
    .headerContent {
        width: 350px;
    }

    .headerContent img {
        height: 40px;
        width: 40px;
    }

    .headerButtons {
        gap: 0;
    }

    .headerButton {
        font-size: 8px;
        padding: 5px;
    }

    .tagline {
        font-size: 10px;
    }
}

@media (max-width: 350px) {
    .headerContent {
        width: 250px;
    }

    .headerButtons {
        gap: 0 5px;
    }

    .headerButton {
        font-size: 5px;
        padding: 3px 8px;
    }

    .tagline {
        font-size: 5px;
    }
}

.header {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    background: linear-gradient(to bottom, rgb(255, 225, 172), rgb(255, 225, 172), #fff6e7);
}

.headerContent {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.headerButtons {
    display: flex;
}

.headerButton {
    border-radius: 5px 20px 5px 20px;
    font-weight: 600;
    background: #ffa500;
    color: white;
    border: none;
    cursor: pointer;
    transition: .3s all;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
        rgba(0, 0, 0, 0.3) 0px 7px 13px -3px,
        rgba(0, 0, 0, 0.2) 0px -3px 0px inset
}

.tagline {
    text-align: center;
}