@media (max-width: 8000px) {
    .headerContent {
        width: 1380px;
    }

    .headerButton {
        font-size: 20px;
    }

    .tagline {
        font-size: 35px;
    }
}

@media (max-width: 1380px) {
    .headerContent {
        width: 980px;
    }

    .headerContent img {
        height: 100px;
        width: 100px;
    }

    .headerButton {
        font-size: 15px;
    }

    .tagline {
        font-size: 25px;
    }
}

.header {
    width: 100%;
    display: flex;
    height: auto;
    align-items: flex-start;
    justify-content: center;
    background: linear-gradient(to bottom, rgb(255, 225, 172), rgb(255, 225, 172), rgb(255, 225, 172), #fff6e7);
}

.headerContent {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.headerButtons {
    gap: 0 30px;
    display: flex;
    justify-content: space-between;
}

.headerButton {
    border-radius: 5px 20px 5px 20px;
    padding: 10px 20px;
    font-weight: 600;
    background: #ffa500;
    color: white;
    border: none;
    cursor: pointer;
    transition: .3s all;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
        rgba(0, 0, 0, 0.3) 0px 7px 13px -3px,
        rgba(0, 0, 0, 0.2) 0px -3px 0px inset
}

.tagline {
    text-align: center;
}