.profileContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 100px;
}

.profileContent h1 {
    text-align: center;
    margin-top: 30px;
    width: 100%;
    border-bottom: 1px solid #ffe1ac;
    font-size: 50px;
    font-weight: 300;
}

.profileContent p:first-of-type {
    margin-top: 150px;
}

.profileContent p {
    margin-top: 50px;
    font-size: 30px;
}

.profileContent p span {
    font-size: 25px;
    color: white;
    font-weight: 600;
    border-radius: 30px;
    padding: 5px 15px;
    background: #ffa500;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
        rgba(0, 0, 0, 0.3) 0px 7px 13px -3px,
        rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.profileContent button {
    border: none;
    font-size: 30px;
    font-weight: 600;
    background: #ffa500;
    border-radius: 5px 20px 5px 20px;
    color: white;
    cursor: pointer;
    padding: 10px 50px;
    margin-top: 50px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
        rgba(0, 0, 0, 0.3) 0px 7px 13px -3px,
        rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}